.big {
    color: blue;
}

.b326{
    border: 1px solid green;
}

#b325{
    border: 1px solid green;
}

p {    
    background-color: yellow;
}
p:hover {
    background-color: tomato;
}

div{
    font-weight: bold;
}